.large-3.large-centered.columns
  .login-box
    .row.large-12.columns
      %h3 Login to Video Tube
      
      .error-container
        = render "shared/errors", errors: @user.errors
        
      = form_for @user, url: login_path do |f|
        .row.large-12.columns
          = f.label :username, "Username"
          = f.text_field :username
        .row.large-12.columns
          = f.label :password, "Password"
          = f.password_field :password
        .row.large-12.large-centered.columns
          = f.submit "Login", class: "button expand"
            
.large-3.large-centered.columns
  .login-box
    .row.large-12.columns
      New to Video Tube? 
      = link_to signup_path do
        Create an account.