.callout
  #profile-banner
    #banner.remove-padding
      %img{:alt => "image of a planet called Pegasi B", :src => "http://placehold.it/1000x210&text=Pegasi B"}

  #profile-header
    %h2.channel-name
      %strong= @user.channel_username
    #subscribe
      = sub_button
      .count
        .callout
          = number_with_delimiter(@sub_count)

  -# TODO: channel nav bar
  %ul#channel-nav
    = link_to channel_path(@user), class: "selected" do
      %li.selected Home
      
    = link_to channel_videos_path(@user) do
      %li
        Videos
        
    = link_to channel_about_path(@user) do
      %li
        About