.row
  = link_to video_path(video) do
    .show-for-large.large-3.columns.padding-right-small
      - if video.video.url(:thumb).include?('missing')
        - image = "https://dummyimage.com/1168x260/000/fff&text=#{@channel.channel_name}"
      - else
        - image = video.video.url(:thumb)
      
      %img.thumbnail{alt: "", src: image}
    #video-info.large-9.columns
      %h1.title= video.title
      %p
        = link_to channel_path(video.channel) do
          = video.channel.channel_name
      %p= video.stats