.callout
  #profile-banner
    #banner.remove-padding
      - if @channel.banner.url(:best).include?('missing')
        - image = "https://dummyimage.com/1168x260/000/fff&text=#{@channel.channel_name}"
      - else
        - image = @channel.banner.url(:best)
        
      %img{:alt => "channel banner", :src => image}

  #profile-header
    %h2.channel-name
      %strong= @channel.channel_name
    #subscribe
      = sub_button_helper(@channel)
      .sub-count
        .callout
          = number_with_delimiter(@sub_count)

  = channel_nav_helper